.profile-pic {
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  top: 3em;
  right: 3em;
}

.go-back {
  max-width: 2em;
  max-height: 2em;
  margin-top: 1em;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.logs-container {
  position: relative;
  top: 7em;
  padding: 2em;
  margin: auto;
  max-width: 35em;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.type {
  border-radius: 4em;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.link {
  color: rgb(13, 168, 235);
}

.log-card {
  padding-top: 1em;
}

.log-card:hover .title {
  text-decoration: underline;
}

.slide-right {
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: slideRight;
}

@keyframes slideRight {
  from {
    right: 100%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.slide-left {
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: slideLeft;
}

@keyframes slideLeft {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

.log-info .header {
  display: flex;
}

.log-info .title {
  margin: auto;
}

.log-info .type {
  display: inline-block;
}

.alerts {
  position: absolute;
  top: 3.5em;
  right: 3.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  font-size: 0.8em;
  color: white;
  line-height: 1em;
  text-align: center;
  background: red;
  padding: 0.2em;
}
